*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position:bottom right, left ;
}
.text-orange{
    color:#FD6E0A ;
}
nav{
    display: flex;
    justify-content:space-between;
    padding: 50px 200px;
}
nav li{
    list-style: none;
    margin-left:20px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.orange-btn{
    height: 64px;
    border-radius:5px;
    background-color:#FD6E0A ;
    font-weight:700;
    font-size:20px;
    color: #FFFFFF;
    padding: 18px 35px;
    border: none;
}
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center ;
}
.banner-subtitle{
    font-weight: 700;
    font-size: 45px;
}
.banner-title{
   font-weight: 700;
   font-size: 85px;
   margin-bottom: 20px; 
}
.banner-des{
    color: cadetblue;
    font-size: 17px;
    margin-bottom: 5px;
}
main{
    max-width: 1140px;
    margin:0 auto ;
}
.about{
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    
    font-size: 35px;
    margin-bottom: 30px;
}
.section-des{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.inf-des{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* what i do  */

.whatIdo{
    margin-top: 130px;
}
.do-align{
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;
    margin-top: 30px;
}
.skill-title{
    font-size: 20px ;
    font-weight:700;
    margin-top: 30px;
    margin-bottom:20px;
}
.skill-des{
    color: #757575;
}
.skill{
    box-shadow:0px 6px 15px rgb(57, 27, 27);
    padding: 30px;
}

/* resume part  */

.resume{
    margin-top: 130px;
}
.section-title{
    text-align: center;
}
.resume-content{
    display: flex;
    gap: 24px;
}
.resume .title{
    color: #121111;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.resume .sub-title{
color: #757575;
font-weight: 600;
font-size: 25px;
margin-bottom: 20px;
}
.resume .description{
color: #757575;
}
.resume-item{
    margin-top:30px;
    margin-bottom: 30px;
}
.resume-btn{
    margin-top: 50px;
    text-align: center;
}

.contact .section-title{
    text-align: left;
}
.contact{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
    
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    padding: 18px 30px;
}
input{
    width: 84%;
}
.contact a{
    text-decoration: none;
}
@media screen and (max-width:576px) {
    .header{
        background-image: none;
    }
    nav, .skills-container, .resume-content, .about-info-container, .contact, .banner{
        flex-direction: column;
        padding: 10px 20px;
    }
    nav ul{
        flex-direction: column;
        gap: 20px;
    }
    .banner img{
        width: 300px;
        margin-right: 50px;
    }
    .about, .contact{
        padding: 20px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
      
}
